@model IEnumerable<CRUDAppUsingASPCoreWebAPI.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Student CRUD Operation</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@{
    if (TempData["insert_message"]!=null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success</strong> @TempData["insert_message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    if (TempData["update_message"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success</strong> @TempData["update_message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    if (TempData["delete_message"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success</strong> @TempData["delete_message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
           
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
}
    </tbody>
</table>
